QR-Reader/ScoutDatas/*
DataAnalyzer/DataAnalyzer/bin/*
DataAnalyzer/DataAnalyzer/obj/*
DataAnalyzer/packages/*
DataAnalyzer/.vs/*
DataAnalyzer/PythonScripts/__pycache__/*
DataAnalyzer/PythonScripts/matches/*